@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: #141414;
  --color2: #878787;
  --color3: #d90452;
  --color4: #2b3040;
  --color5: #027368;
  --color6: #f2a74b;
  --color7: #d96f32;
  --color8: #242424;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 0.94rem;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color1);
  color: var(--color2);
  overflow-x: hidden;
}

.card {
  width: 100%;
  max-width: 246px;
  height: 346px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background: var(--color8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.card-icon-box {
  margin: 20px 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color1);
  border-radius: 100vh;
}

.card-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}

.card-paragraph {
  text-align: start;
  margin: 10px 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #141414; 
}
 
::-webkit-scrollbar-thumb {
  background: #242424; 
}

::-webkit-scrollbar-thumb:hover {
  background: #242424; 
}

::selection {
  background: #444444;
}
