@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

*,
*::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  background: #141414;
color: #fff
}

span {
color: #fff;
opacity: 55%;
}

p {
opacity: 55%;
}
.ctn {
  width: min(90%, 1140px);
  margin: 0 auto;
}

.page-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.page-top > .ctn {
  min-height: 104px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.github-btn {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  border: 1.4px solid #fff;
  border-radius: 10px;
  padding: 10px 15px;
  display: inline-block;
  margin-left: auto;
  transition: 250ms;
}

.github-btn:hover {
  color: #f8f8f8;
  background: #878787;
}

.page-header {
  padding: 30vh 0px 10vh;
}

.page-header h1 {
  line-height: 1.2;
  margin: 16px 0px;
}

.page-header p {
  max-width: 400px;
  margin-bottom: 24px;
}

.page-header h1 span {
  display: block;
}

.mobile-menu {
  display: block;
  position: relative;
}

.mobile-menu .toggle {
  --scale: 48px;
  --primary-toggle-color: #f8f8f8;
  --secondary-toggle-color: #444;
  width: var(--scale);
  height: var(--scale);
  border-radius: 50%;
  background: var(--secondary-toggle-color);
  color: var(--primary-toggle-color);
  cursor: pointer;
}

.mobile-menu .toggle::before,
.mobile-menu .toggle::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background: var(--primary-toggle-color);
  top: 50%;
  left: 50%;
  transition: transform 250ms;
}

.mobile-menu .toggle::before {
  transform: translate(-50%, -4px);
}

.mobile-menu .toggle::after {
  transform: translate(-50%, 4px);
}

.mobile-menu.open .toggle::before {
  transform: translate(-50%, 0) rotate(-45deg);
}

.mobile-menu.open .toggle::after {
  transform: translate(-50%, 0) rotate(45deg);
}

.mobile-menu > ul {
  display: none;
}

.mobile-menu.open > ul {
  display: block;
  position: absolute;
  top: 64px;
  right: 15%;
  transform: translate(5%, 0);
  width: min(80vw, 200px);
  background: #444;
  color: #f8f8f8;
  border-radius: 24px;
  padding: 24px 16px;
  text-align: center;
}

.mobile-menu ul li {
  list-style: none;
  margin-bottom: 16px;
}

.mobile-menu li a,
nav[data-menu-type="desktop"] li a {
  padding: 8px 24px;
  display: block;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}

.mobile-menu ul li:last-child a {
  background: #f8f8f8;
  color: #444;
}

nav[data-menu-type="desktop"] {
  display: none;
}

@media (min-width: 800px) {
  .mobile-menu {
    display: none;
  }

  nav[data-menu-type="desktop"] {
    display: block;
  }

  nav[data-menu-type="desktop"] ul li {
    display: inline-block;
    margin-left: 24px;
    list-style: none;
  }

  nav[data-menu-type="desktop"] ul li:last-child a {
    background: #444;
    color: #f8f8f8;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #141414; 
}
 
::-webkit-scrollbar-thumb {
  background: #242424; 
}

::-webkit-scrollbar-thumb:hover {
  background: #242424; 
}

::selection {
  background: #444444;
}
