@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

*,
*::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 0.94rem;
  font-family: Poppins, Noto Sans, sans-serif;
  text-align: center;
  line-height: 1.5;
  background: #141414;
color: #fff;
}

span {
color: #fff;
opacity: 55%;
}

main {
  padding: 12vh 0;
}

img[alt="findimg"] {
  --scale: 164px;
  width: var(--scale);
  height: var(--scale);
  border-radius: 10px;
}

img[alt="findimg"] + h3 {
  margin: 16px 0 0px;
}

.find-nav {
  margin: 40px auto 0;
  width: 95%;
  max-width: 700px;
}

.find-nav ul {
  display: grid;
  gap: 1rem;
  list-style: none;
}

.find-nav a {
  text-decoration: none;
  color: inherit;
}

.find-box {
  display: flex;
  align-items: center;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #242424;
  border-radius: 10px;
  background: #242424;
}

.find-box .icon-box {
  --scale: 56px;
  width: var(--scale);
  height: var(--scale);
  font-size: 1.25rem;
  background: hsl(var(--color), 30%);
  color: hsl(var(--color));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 16px;
}

@media (min-width: 600px) {
  .find-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #141414; 
}
 
::-webkit-scrollbar-thumb {
  background: #242424; 
}

::-webkit-scrollbar-thumb:hover {
  background: #242424; 
}

::selection {
  background: #444444;
}
